.error-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error-page-container h1 {
  margin: 1.5rem 0;
  font-size: 2rem;
}

.error-page-container p {
  font-size: 1.5rem;
  font-family: 'Poppins', sans-serif;
}

.error-page-container a {
  color: #4A71B6;
}

.error-page-container img {
  width: 30%;
  margin: 1.5rem 0;
}
