.header-container {
    display: inline-flex;
    justify-content: space-evenly;
    width: 100%;
}

.header-img-container {
    width: 30rem;
    height: 10rem;
    background-size: contain;
    background-image: url('../../resources/images/amiibo_logo.png');
    background-position: cover;
    background-repeat: no-repeat;
}


.header-container nav {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    justify-content: space-evenly;
}

.header-container nav ul {
    list-style: none;
    display: inline-flex;
    gap: 2rem;
    font-family: 'DM Sans', sans-serif;
    font-weight: 600;
    font-size: 1.70rem;
}

.header-container nav a {
    text-decoration: none;
    color: black;
    padding: 0.8rem 0.6rem;
    border-radius: 30px;
}

.header-background {
    background-color: #4A71B6;
    background: linear-gradient(to bottom, #4A71B6, #6499F6);
}


/* Media Queries */
@media only screen and (max-width: 870px) {
    .header-img-container {
        background: url('../../resources/images/amiibo_logo_small.png');
        width: 10rem;
        height: 10rem;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
}