.header-container {
    display: inline-flex;
    justify-content: space-around;
    width:100%;
}

.header-container img {
    height: 8rem;
}

.header-container nav {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    justify-content: space-evenly;
}

.header-container nav ul {
    list-style: none;
    display: inline-flex;
    gap:2rem;
}

.header-container nav a {
    text-decoration: none;
    color: black;
    padding: 0.8rem 0.6rem;
    border-radius: 30px;
}

.header-background {
    background-color: #4A71B6;
    background: linear-gradient(to bottom, #4A71B6, #6499F6);
}