html {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
}

.main-section {
  width: 70%;
  margin: 0 auto;
  
}

.header-background {
  background-color: #4A71B6;
  background: linear-gradient(to bottom, #4A71B6, #6499F6);
}

.star-icon-amiibo-tile {
  width: 15%;
  position: absolute;
  top: 1.5rem;
  right: 0rem;
  z-index: 1;
}

.star-icon-single-amiibo-page {
  width: 10%;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.star-icon {
  width: 100%;
  object-fit: contain;
}

/* Header */
.header-container {
  display: inline-flex;
  justify-content: space-around;
  width:100%;
}

.header-container img {
  height: 8rem;
}

.header-container nav {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  justify-content: space-evenly;
}

.header-container nav ul {
  list-style: none;
  display: inline-flex;
  gap:2rem;
}

.header-container nav a {
  text-decoration: none;
  color: black;
  padding: 0.8rem 0.6rem;
  border-radius: 30px;
}

/* Amiibos List  */

.amiibo-tiles-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
}

.amiibo-tile {
  display: block;
  color: gray;
  text-align: center;
  width: 20rem;
  margin-top: 2rem;
  border: 3px solid transparent;
  position: relative;
  top: 0;
  left: 0;
}

.amiibo-tile h3 {
  text-align: center;
  font-size: 1.35rem;
}


.amiibo-tile a {
  text-decoration: none;
  color: black;
}

/* .amiibo-tile:hover {
  transition: border 0.55s;
  border: 3px solid #d0d0d0;
}

.amiibo-tile:active {
  margin-top: 0rem;
} */

.amiibo-tile-img {
  height: 15rem;
  max-width: 20rem;
  margin: 0 auto;
  background-position: center;
  background-size: cover;
  margin-top: 1rem;
  margin-bottom: 0.25rem;
  position:relative;
  top:0;
  left:0;
}

/* .amiibo-tile div {
  text-align: center;
} */

/* Single Amiibo Page */

.single-amiibo-container {
  display: flex;   
  width: 90%;
  margin: 5rem auto;
  justify-content: space-evenly;
  border: 3px solid #4A71B6;
  border-radius: 30px;
  background: linear-gradient(to bottom, #6499F6, white );
  position: relative;
}

.single-amiibo-image {
  padding: 2rem 0;
  object-fit: contain;
}

.single-amiibo-info {
  margin: 2.5rem 0;
  display: flex;
  flex-direction: column;
}

.single-info-1 {
  margin-bottom: 2.5rem;
}

.single-info-1 h2, h3{
  text-align: left;
}
.single-info-1 h2 {
  margin-bottom: 1rem;
  font-size: 2.75rem;
  font-style: oblique;
  color: #36454f;
  
}

.releases-title {
  margin-bottom: 1.10rem;
}

.single-info-1 h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

.single-info-2 li{
  list-style: none;
  margin-bottom: 1rem;
  font-size: 1.25rem;
} 

.single-info-2 li img{
  vertical-align: middle;
  margin-right: 1rem;
  width: 2.5rem;
  border: 2px solid black;
  border-radius: 50%;
} 

.info-style {
  color: #36454f;
  font-weight: bold;
}


/* https://projects.lukehaas.me/css-loaders/ Loader #3 */

.spinner {
  margin: 0 auto;
  text-align: center;
 }
 
 .spinner h4 {
   font-size: 1.5rem;
   font-weight: bold;
 }

.loader {
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #4a71b6;
  background: -moz-linear-gradient(left, #4a71b6 10%, rgba(74,113,182, 0) 42%);
  background: -webkit-linear-gradient(left, #4a71b6 10%, rgba(74,113,182, 0) 42%);
  background: -o-linear-gradient(left, #4a71b6 10%, rgba(74,113,182, 0) 42%);
  background: -ms-linear-gradient(left, #4a71b6 10%, rgba(74,113,182, 0) 42%);
  background: linear-gradient(to right, #4a71b6 10%, rgba(74,113,182, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before {
  width: 50%;
  height: 50%;
  background: #4a71b6;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.loader:after {
  background: #ffffff;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


/* Pagination  */
.pagination {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  margin: 2.5rem 0;
}

.active-page {
  background-color: #4A71B6;
  padding: 0.5rem;
}

.inactive-page {
  padding: 0.5rem;
}

.active-page, .inactive-page:hover {
  cursor: pointer;
  border: solid #36454f;
  border-radius: 25%;
}

.inactive-page:active {
  font-weight: bold;
  background-color: #6499F6;
}

/* Links */

.activeNavLink {
  background-color: grey;
  color: white;
}

.inactiveNavLink:hover {
  background-color: #DCDCDC;
}

.activeNavLink:hover {
  background-color: #5A5A5A;
}

/* Error 404 Page */

.error-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error-page-container h1 {
  margin: 1.5rem 0;
  font-size: 2rem;
}

.error-page-container p {
  font-size: 1.5rem;
}

.error-page-container a {
  color: #4A71B6;
}

.error-page-container img {
  width: 30%;
  margin: 1.5rem 0;
}
