html {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
}

.main-section {
  width: 70%;
  margin: 0 auto;
  
}

.info-style {
  color: #36454f;
  font-weight: bold;
}

.amiibo-tiles-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
}

.activeNavLink {
  background-color: grey;
  color: white;
}

.inactiveNavLink:hover {
  background-color: #DCDCDC;
}

.activeNavLink:hover {
  background-color: #5A5A5A;
}



